/*====================Title Section=========================*/

.titlebar {
    background-image: url('/Users/Sean/Documents/DBC/Seane235.github.io/unit1_projects/images/geometry2.png');
    height: 15%;
    margin-top: 0;
    padding: 40px;
    box-shadow: 0 5px 0px 0px #CDCEC4;
}

#nameplate {
    color: #FF5F4C;
    font-size: 4em;
    font-family: Arial;
    text-align: center;
    margin: 4% 0 0 0;
}

#subtitle {
    color: #FF5F4C;
    font-size: 1.15em;
    font-family: Garamond;
    text-align: center;
    margin: 0;
}

/*==================== Nav Bar ===============================*/


#nav {
    text-align: center;
}

#nav li {
    display: inline;
    padding-right: 1%;
}

/*==================== Content Section ========================*/

.postname {
    color: #FF5F4C;
    font-size: 2em;
    font-family: Arial;
}

.content {
    font-size: 1em;
    color: #757268;
    font-family: Arial, sans-serif;
}

.leftpost {
    float:left;
    margin: 15px 0px 0px 15px;
    background-color: #f9fafb;
    width: 47%
}

.rightpost {
    float:right;
    margin: 15px 25px 0px 0px;
    background-color: #f9fafb;
    width: 47%
}

.boxmain {
    box-shadow: 0 5px 0px 0px #CDCEC4;
    padding: 2%;
}

h2 {
    margin:0;
}

p {
    font-size: 1em;
}

/*==================== Body + Links ========================*/

body {
    width: 100%
}

a {
    color: #FF5F4C;
    font-size: 2.5em;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

a:hover {
    color: #f9fafb;
    background-color: #FF5F4C;
    font-size: 2.5em;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

/*==================== Media Queries ========================*/


@media screen and (max-width: 666px) {
    #nav li {
        text-decoration: none;
    }

    a {
        color: #FF5F4C;
        font-size: 1em;
        font-family: Arial, sans-serif;
        text-decoration: none;
        background-color: #f9fafb;
        display: block;
        line-height: 2em;
        margin-right: 60px;
        margin-left: 0;
        box-shadow: 0 5px 0px 0px #FF5F4C;

    }

    a:hover {
        background-color: #FF5F4C;
        font-size: 1em;
        font-family: Arial, sans-serif;
        text-decoration: none;
    }
    .leftpost, .rightpost {
        float: none;
        width: 95%;
        margin-top: 30px;
    }
    #nameplate {
        font-size: 3em;
    }
    #subtitle {
        font-size: 0.85em;
    }
}


/*
* {
    border: 1px solid black;
}
*/