/*====================Title Section=========================*/

.titlebar {
    background-image: url('/unit1_projects/images/illusion.png');
    height: 15%;
    margin-top: 0;
    padding: 40px;
    box-shadow: 0 5px 0px 0px #477A65;
}

#nameplate {
    color: #A2EBBD;
    font-size: 4em;
    font-family: Arial;
    text-align: center;
    margin: 4% 0 0 0;
}

#subtitle {
    color: #1F1F1F;
    font-size: 1.15em;
    font-family: Garamond;
    text-align: center;
    margin: 0;
}

body {
    background-color: #1F1F1F;
}

/*==================== Nav Bar ===============================*/


#nav {
    text-align: center;
}

#nav li {
    display: inline;
    padding-right: 1%;
}

/*==================== Content Section ========================*/

.postname {
    color: #A2EBBD;
    font-size: 2em;
    font-family: Arial;
}

.content {
    font-size: 1em;
    color: #757268;
    font-family: Arial, sans-serif;
}

.leftpost {
    float:left;
    clear:left;
    margin: 15px 0px 0px 15px;
    background-color: #f9fafb;
    width: 47%
}

.rightpost {
    float:right;
    clear:right;
    margin: 15px 25px 0px 0px;
    background-color: #f9fafb;
    width: 47%
}

.boxmain {
    position: relative;
}

.boxmain:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

h2 {
    margin:0;
}

p {
    font-size: 1em;
    margin: 0px 5px 0px 5px;
}

/*==================== Body + Links ========================*/

body {
    width: 100%
}

a {
    color: #A2EBBD;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

a:hover {
    color: #f9fafb;
    background-color: #A2EBBD;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

/*==================== Media Queries ========================*/


@media screen and (max-width: 666px) {
    #nav li {
        text-decoration: none;
    }

    a {
        color: #A2EBBD;
        font-size: 1em;
        font-family: Arial, sans-serif;
        text-decoration: none;
        background-color: #f9fafb;
        display: block;
        line-height: 2em;
        margin-right: 60px;
        margin-left: 0;
        box-shadow: 0 5px 0px 0px #A2EBBD;

    }

    a:hover {
        background-color: #A2EBBD;
        font-size: 1em;
        font-family: Arial, sans-serif;
        text-decoration: none;
    }
    .leftpost, .rightpost {
        float: none;
        width: 95%;
        margin-top: 30px;
    }
    #nameplate {
        font-size: 3em;
    }
    #subtitle {
        font-size: 0.85em;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    #nav li {
        text-decoration: none;
    }

    a {
        color: #A2EBBD;
        font-size: 1em;
        font-family: Arial, sans-serif;
        text-decoration: none;
        background-color: #f9fafb;
        display: block;
        line-height: 2em;
        margin-right: 60px;
        margin-left: 0;
        box-shadow: 0 5px 0px 0px #A2EBBD;

    }

    a:hover {
        background-color: #A2EBBD;
        font-size: 1em;
        font-family: Arial, sans-serif;
        text-decoration: none;
    }
    .leftpost, .rightpost {
        float: none;
        width: 95%;
        margin-top: 30px;
    }
    #nameplate {
        font-size: 3em;
    }
    #subtitle {
        font-size: 0.85em;
    }
}


/*
* {
    border: 1px solid black;
}
*/