html { 
  background: url(https://s3.amazonaws.com/ooomf-com-files/HWijjF7RwOPGEJ1nb4Zb_IMG_3773.jpg) 
  repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.menu {
  text-align: center;
  background-color: white;
  width: 100%;
  vertical-align: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px #999999;
  opacity: 0.7;
  padding: 2px 0 2px 0;
}

.menu li {
  font-family: edmondsans, sans-serif;
  font-size: 20px;
  list-style: none;
  display: inline;
  margin: 5px 10px;
}

li a {
  display: inline-block;
  text-decoration: none;
  width: 200px;
  color: black;
  transition: 1s;
}

h2 a {
  font-family: edmondsans, sans-serif;
  font-size: 20px;
  color: white;
}

li a:hover {
  color: red;
  text-decoration: underline;
}

@font-face {
  font-family: edmondsans;
  src: url(fonts/edmondsans-medium.otf);
}

#welcome h1 {
  font-family: edmondsans;
  color: white;
  font-size: 5em;
  text-align: center;
  text-shadow: 0 1px black;
  transition: 1s;
}

#welcome h1:hover {
  text-shadow: 2px 3px 3px black;
}



.center {
  margin-top: -20px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  border: 2px black;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  transition: 1s;
}

.center:hover {
  background: rgba(0, 0, 0, 0.8);
}

.center p{
  line-height: 23px;
  font-size: 1.3em;
  text-align: center;
  font-family: edmondsans, sans-serif;
  color: white;
  transition: 0.5s;
}


hr {
  width: 30%;
  border-color: white;
}

#tophr {
  margin-bottom: -15px;
}

#bottomhr {
  margin-top: -15px;
}

.cta {
  background: rgba(0, 0, 0, 0.3);
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  padding: 3px 0px 3px 0px;
  margin-top: 30px;
  border-radius: 3px;
  transition: 0.5s;
}

.cta:hover {
  background: rgba(0, 0, 0, 0.6);
}

.cta h2 {
  font-family: edmondsans;
  color: white;
  text-align: center;
  font-size: 1.3em;
  transition: 1s;
}

.cta h2:hover {
  text-decoration: underline;
}

.footer {
  text-align: center;
  background-color: white;
  width: 100%;
  vertical-align: center;
  box-shadow: 0 -2px #999999;
  opacity: 0.7;
  padding: 2px 0 2px 0;
  bottom: 0px;
  margin-top: 20px;
  position: fixed;
  transition:1s;
}

.footer p {
  font-family: edmondsans, sans-serif;
  font-size: 1em;
  transition: 1s;
}

.footer p:hover {
  font-size: 1.1em;
}

