/*
* light blue DAFFF2
* cream FFFAD5
* gray 2D2E2F
*
*
*
*/

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #2D2E2F;
}


body {
	background-color: #DAFFF2;
}


/*div {
	border: 1px solid black;
}
*/

.col-center {
  float: none;
  margin: 0 auto;
}

.col-center > img {
	margin: 0 auto;
}

.nameplate {
	color: #2D2E2F;
	font-size: 8em;
}

.name-contain {
	text-align: center;
}

.stripe {
	margin: 0 auto;
	margin-top: 1px;
	width: 100%;
}

.sgray {
	background-color: #2D2E2F;
	height: 1em;
}

.snavy {
	background-color: #09464C;
	height: 1em;
}

.sblue {
	background-color: #105B63;
	height: 1em;
}

.sred {
	background-color: #BD4932;
	height: 1em;
}

.sorange {
	background-color: #F0A72B;
	height: 1em;
}

.syellow {
	background-color: #FFD34E;
	height: 1em;
}

.scream {
	background-color: #FFFAD5;
	height: 1em;
}

.rainbow {
	margin: 0 auto;
	width: 100%;
}

.sicon {
	width: 3em;
}











