* {
			font-family: Tahoma, sans-serif;
			color: #EBEBEB;
		}
		div {
			border-radius: 7px;
		}
		#rightbar {
			background-color:gray;
			height: 130px;
			width: 300px;
			float: right;
			display: inline-block;
		}
		#centerblock {
			background-color: #425563;
			width: 800px;
			float:left;
			margin-right: 30px;
			padding: 20px;
		}
		#post_1 {
			background-color: gray;
			padding: 20px;
		}
		#post_2 {
			background-color: gray;
			padding: 20px;
			margin-top: 20px;
		}
		#post_3 {
			background-color: gray;
			padding: 20px;
			margin-top: 20px;
		}
		.post {
			background-color: gray;
			padding: 20px;
			margin-top: 20px;
		}
		#bg {
			background-color: #253746;
		}